{% extends "base.html" %}

{% block 'body' %}

<div class="container-fluid">
    <div style="text-align: center">
        <br>

        <h2>Aprovação de Agendamentos</h2>

        {% if messages %}
          {% for message in messages %}
              <div class="alert {{message.tags}}">{{message}}</div>
          {% endfor %}
        {% endif %}
    <br>
    <br>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Status</th>
              <th scope="col">Serviços</th>
                <th scope="col">Cliente</th>
              <th scope="col">Aprovação</th>
            </tr>
          </thead>
          <tbody>
            {% for agendamento in agendamentos %}
                <tr>
                  <td>{{ agendamento.data_agendamento }}</td>
                  <td>{{ agendamento.get_status_display }}</td>
                  <td>
                    {% for servico in agendamento.servico.all %}
                    <li>{{ servico.descricao }} - R${{ servico.valor }}</li>
                    {% endfor %}
                </td>
                <td>{{ agendamento.usuario.first_name }}</td>
                <form action="{% url 'aprovacao_agendamentos' %}" method="POST">{% csrf_token %}
                    <td>
                        <input value="{{agendamento.id}}" name="id_agendamento" hidden>
                        <select name="status" class="form-select" id="status">
                            {% for choice in agendamento.choices_status %}
                                <option value="{{ choice.0 }}" {% if agendamento.status == choice.0 %} selected {% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input class="btn btn-success btn-sm" type="Submit" value="Aplicar"></td>
                </form>  
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock %}