{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'css/usuario.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

    <div class="container-fluid bg-inscricao">
        <div class="row">
            <div class="col-md-8">
                <div class="box-form">
                    <h3>LOGIN</h3>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags}}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <hr style="border-color: #7E7B7C">
                
                    <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                        <label>E-mail:</label>
                        <input type="email" class="form-control" placeholder="E-mail..." name="email">
                        <br>
                        <label>Senha:</label>
                        <input type="password" class="form-control" placeholder="Senha..." name="senha">
                        <br>
                        <br>
                        <input type="submit" value="ACESSAR" class="btn btn-success">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="{% url 'cadastro' %}" class="btn btn-primary">Cadastrar</a>
                    </form>
                </div>

            </div>
            <div class="col-md bg-img">

            </div>
        </div>
    </div>

{% endblock %}